*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none
  box-sizing: border-box

body
  font:
    family: 'Sentinel A', 'Sentinel B', serif
    size: 18px
    weight: 300
  line-height: 24px
  margin: 0
  padding: 0

a
  +transition(all 0.3s ease-in-out)

.wrapper
  +outer-container
  padding: 0 rem(30)
  +media($medium)
    padding: 0
