// Fonts
@font-face
  font-family: 'sbook'
  src: url('fonts/sentinel-book.eot?#iefix') format('embedded-opentype'), url('fonts/sentinel-book.otf') format('opentype'), url('fonts/sentinel-book.woff') format('woff'), url('fonts/sentinel-book.ttf') format('truetype'), url('fonts/sentinel-book.svg#Sentinel-Book') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'sbold'
  src: url('fonts/sentinel-bold.eot?#iefix') format('embedded-opentype'), url('fonts/sentinel-bold.otf') format('opentype'), url('fonts/sentinel-bold.woff') format('woff'), url('fonts/sentinel-bold.ttf') format('truetype'), url('fonts/sentinel-bold.svg#Sentinel-Bold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'sblack'
  src: url('fonts/sentinel-black.eot?#iefix') format('embedded-opentype'), url('fonts/sentinel-black.otf') format('opentype'), url('fonts/sentinel-black.woff') format('woff'), url('fonts/sentinel-black.ttf') format('truetype'), url('fonts/sentinel-black.svg#Sentinel-black') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'gbold'
  src: url('fonts/gotham-bold.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-bold.otf') format('opentype'), url('fonts/gotham-bold.woff') format('woff'), url('fonts/gotham-bold.ttf') format('truetype'), url('fonts/gotham-bold.svg#gotham-bold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'gblack'
  src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'), url('Gotham-Black.otf') format('opentype'), url('Gotham-Black.woff') format('woff'), url('Gotham-Black.ttf') format('truetype'), url('Gotham-Black.svg#Gotham-Black') format('svg')
  font-weight: normal
  font-style: normal


body
  font:
    family: 'sbook', serif

.wrapper
  +outer-container
