%footer.footer
  %section
    %article
      %h4 Contact
      %dl
        %dt Phone
        %dd 904.398.3005
      %dl
        %dt Fax
        %dd 904.398.3009
      %dl
        %dt Email
        %dd
          = link_to "contact@tavernasanmarco.com", "mailto:contact@tavernasanmarco.com"
    %article
      %h4 Hours
  %section
    %article
      %h4 Location
      1986 San Marco Blvd
      %br
      Jacksonville, FL 32207
