%section.instagram
  .wrapper
    %ul.inline
      %li
        = link_to '#', class: 'circle-btn' do
          %i.ion-social-instagram
      %li
        Some events from our
        =link_to 'instagram', '#'
