%nav
  .wrapper
    .logo
      = image_tag "images/taverna.png"
    %ul
      %li Menus
      %li About
      %li On the Go
      %li Special Events
      %li Gift Cards
      %li Visit
    .hours
      Today's Hours
      %span 11am-10pm
    .info
      904.398.3005
      = link_to "contact@tavernasanmarco.com", "mailto:contact@tavernasanmarco.com"
