%section.opentable#opentable
  %article
    %h2 Visit
    %p We gladly accept walk-ins, but encourage reservations for faster seating.
    #OT_searchWrapperAll
      %script{:src => "//www.opentable.com/widget/reservation/loader?rid=33580&type=standard&theme=wide&iframe=false&domain=com&lang=en-US&newtab=false&ot_source=Restaurant%20website", :type => "text/javascript"}
%section.opentable-mobile
  = link_to "Schedule a Reservation on OpenTable", "https://www.opentable.com/restref/client/?rtype=ism&restref=33580&rid=33580&corrid=3bf230f6-e967-4943-8770-2d9e633c70d4", {class: "button alt", target: "_blank"}
