%section.resy#resy
  %article
    %h2 Visit
    %p We gladly accept walk-ins, but encourage reservations for faster seating.
    .resy-wrapper
      %a.button.alt(href="https://resy.com/cities/jax/taverna-san-marco" id="resyButton-iOQzewhf5")
        Schedule A Reservation
