.ticker
  %ul#lightSlider
    %li{class: 'cushycms'}
      %span
        Come join us for Happy Hour.
        %i
          Monday thru Friday. 4pm to 7pm.
    %li{class: 'cushycms'}
      %span
        Join Us for Negroni Week.
        %i
          June 6th-12th. Proceeds of Negroni sales will be donated to No More Homeless Pets.
    %li{class: 'cushycms'}
      %span
        Florida Trend 2015
        %i
          Golden Spoon Award Winner
