.ticker
  %ul#lightSlider
    %li{class: 'cushycms'}
      %span
        Monthly
        %i
          By Appointment Only.
        Space is limited. Contact the restaurant for information.
    %li{class: 'cushycms'}
      %span
        Winner Bold City Best 2015:
        %i
          Best Chef & Best Overall Restaurant
    %li{class: 'cushycms'}
      %span
        Florida Trend 2015
        %i
          Golden Spoon Award Winner
