.ticker
  %ul#tickerSlider
    %li.f4
      Chip in to our Meals for Medical Workers Fund.
      = link_to 'Donate Now.', 'https://gf.me/u/yxw5uw'
    %li.f4
      Free Delivery.
      = link_to 'Learn More.', '/order-online/'
