.ticker
  %ul#lightSlider
    %li{class: 'cushycms'}
      %span
        Come join us for Happy Hour.
        %i
          Monday thru Friday. 4pm to 7pm.
    %li{class: 'cushycms'}
      %span
        2015 Bold City Best Winner:
        %i
          Best Chef & Best Overall Restaurant
    %li{class: 'cushycms'}
      %span
        Florida Trend 2015
        %i
          Golden Spoon Award Winner
