.ticker
  %ul#lightSlider
    %li.cushycms
      We’ve created a GoFundMe to help support our employees during COVID-19.
      = link_to 'Donate', 'https://www.gofundme.com/f/taverna-san-marco-staff-relief-fund?utm_medium=copy_link&utm_source=customer&utm_campaign=p_lico+share-sheet&fbclid=IwAR1urBpS40NRpyEiuQdO9JBSrr-Fq9r7rUUC9n31pLArQokl5N7QVE2w7GE', {target: 'blank'}
