.ticker
  %ul#lightSlider
    %li{class: 'cushycms'}
      %span
        Taverna is hiring! We’re looking for smart, nice folks who love great food and service.
        = link_to 'Learn More', '#'
    %li{class: 'cushycms'}
      %span
        Editable content 2.
        = link_to 'Learn More', '#'
    %li{class: 'cushycms'}
      %span
        Editable content 3.
        = link_to 'Learn More', '#'
