.ticker
  %ul#lightSlider
    %li{class: 'cushycms'}
      %span
        Pasta tasting, Tuesday nights
        %i
          3-course tasting menu for $40
    %li{class: 'cushycms'}
      %span
        Taverna on the Go.
        %i
          Lunch delivered to you and your team.
    %li{class: 'cushycms'}
      %span
        Come Join Us for Happy Hour.
        %i
          Monday-Friday. 4pm to 7pm.
