.ticker
  %ul#lightSlider
    %li{class: 'cushycms'}
      %span
        Monthly
        %i
          By Appointment Only.
        Space is limited. Contact the restaurant for information.
    %li{class: 'cushycms'}
      %span
        Winner Bold City Best 2015.
        %i
          Best Chef: Taverna's very own Sam Efron.
    %li{class: 'cushycms'}
      %span
        Winner Bold City Best 2015.
        %i
          Best Restaurant Overall: Taverna.
