.ticker
  %ul#lightSlider
    %li{class: 'cushycms'}
      %span
        Join us in July for a very special
        %i
          By Appointment Only.
        Space is limited. Contact the restaurant for information.
    %li{class: 'cushycms'}
      %span
        Join us for July 4th! We'll be serving a special happy hour menu all day.
    %li{class: 'cushycms'}
      %span
        %i
          Summer Industry Sundays.
        Service industry employees enjoy 20% off food and non-alcoholic beverages.
