.ticker
  %ul#lightSlider
    %li{class: 'cushycms'}
      %span
        Thank You Jax.
        %i
          Taverna is honored to be voted a 2016 Bold City Best.
    %li{class: 'cushycms'}
      %span
        Light the Night Event.
        %i
          Thursday 10/26. 10% of Dinner proceeds donated to Leukemia & Lymphoma Society.
    %li{class: 'cushycms'}
      %span
        Come Join Us for Happy Hour.
        %i
          Monday-Friday. 4pm to 7pm.
