%section.hero-covid
  %article.wrapper
    %h1.f1
      %span.small.white We're back with
      %span.display.highlight Curbside Pickup
    %h2.f2.white Now offering a special all-day menu with the convenience & safety of curbside pickup.

    = link_to 'Learn More', '/prepared-food.html', class: 'button'
    %h3.f3
      %span.highlight Coming soon: Taverna Neighborhood Market.
      %span.white Discounted wine and liquor bottles, raw proteins, fresh product, specialty foods, and household staples like toilet paper and paper towels
  = partial 'refills/ticker'
