.hero
  background: url('/images/hero-1.jpg')
  background-size: cover
  min-height: 90vh
  height: auto
  width: 100%
  display: table
  article
    display: table-cell
    vertical-align: middle
    height: 100%
    width: 100%
    text-align: center
    > img
      max-width: 516px
      width: 100%


.arrow-container
  position: absolute
  height: auto
  width: 100%
  left: -50%
  bottom: 100px
  img
    width: 52px
    height: 51px
    position: relative
    left: 50%
