.hero
  background: url(image-path('images/1.jpg')) no-repeat
  background-size: cover !important
  min-height: rem(400) !important
  height: rem(400) !important
  width: 100% !important
  display: table !important
  +transition(all 2s ease-in-out)
  +media($small-plus)
    min-height: 90vh !important
  article
    display: table-cell
    height: 100%
    width: 100%
    text-align: center
    position: relative
    vertical-align: middle
    img
      margin-top: rem(-110)
      max-width: rem(350)
      +media($medium)
        max-width: rem(540)
        margin-top: rem(-160)
    .ticker
      position: absolute
      bottom: 0

.bkg-slider-container
  background-size: cover !important

.arrow-container
  display: none
  +media($small-plus)
    display: block
    position: absolute
    height: auto
    width: 100%
    left: -50%
    bottom: rem(160)
    img
      width: rem(30)
      height: rem(30)
      position: relative
      left: 50%
      +media($medium)
        width: rem(50)
        height: rem(50)

.ticker
  width: 100%
  background: white
  color: black
  display: block
  font:
    size: rem(14)
    family: 'Sentinel A', 'Sentinel B', serif
    weight: 300
  line-height: rem(18)
  padding: rem(30) rem(30)
  a
    color: black
    display: inline-block
    margin-left: rem(5)

.togo
  background: url(image-path('/images/russell-bg.jpg'))  no-repeat
  background-size: cover
  height: rem(214)
  min-height: 100%
  width: 100%
  position: relative
  background-position: 70% 100%
  background-size: cover
  +media($medium)
    background-position: auto
    height: rem(768)
  aside
    text-align: center
    padding: rem(30)
    display: table
    width: 100%
    height: rem(214)
    +media($medium)
      text-align: left
      width: rem(430)
      height: auto
      display: block
      height: auto
    img
      margin: rem(40) auto
      height: rem(77)
      display: table-cell
      vertical-align: middle
      +media($medium)
        height: rem(235)
        margin: rem(30) 0 0 0
  article
    +media($medium)
      // padding-left: rem(250)
      box-sizing: border-box
      position: relative
      height: rem(460)
    .cta
      position: absolute
      bottom: rem(-60)
      margin-left: rem(250)
      h3
        line-height: rem(28)

.private-dining
  background: url(image-path('/images/private-dining-bg.jpg'))  no-repeat
  position: relative
  background-size: cover
  height: rem(206)
  +media($medium)
    height: rem(768)
  h2.heading
    font-size: rem(36)
    margin: 0 auto
    line-height: normal
    padding: 0
    float: none
    vertical-align: middle
    text-align: center
    height: rem(207)
    display: table-cell
    +media($medium)
      text-align: left
      font-size: rem(120)
      line-height: rem(118)
      margin: 0
      float: right
      padding: rem(100) 0 0 0
      height: auto
      display: block
  aside
    +clearfix
    padding: 0
    display: table
    width: 100%
    height: rem(207)
    +media($medium)
      width: 100%
      height: auto
      padding: 0 rem(30)
      display: block
  article
    +media($medium)
      padding-left: 0
    .cta
      position: absolute
      bottom: rem(-100)

.cta
  background: white
  border-radius: 50%
  width: rem(396)
  height: rem(396)
  text-align: center
  display: block
  margin-left: none
  +media($medium)
    display: table
  .content
    display: table-cell
    vertical-align: middle
    height: 100%
    width: 100%
    padding-bottom: rem(50)
    box-sizing: border-box
    a
      font:
        size: rem(16)
        family: 'Gotham A', 'Gotham B', sans-serif
        weight: 700
      color: black
      text-decoration: none
      text-transform: uppercase

.opentable
  background: $nude
  position: relative
  h2
    margin: 0

.right-caret
  display: inline-block
  background: url(image-path('/images/right-caret.png')) no-repeat
  width: rem(14)
  height: rem(14)
  margin-left: rem(5)
  background-size: contain

.hide-large
  .cta
    width: 100%
    text-align: center
    border-radius: 0
    height: auto
    .content
      margin: 0 auto
      display: block
      padding-bottom: rem(20)
  +media($medium)
    display: none

.hide-small
  display: none
  +media($medium)
    display: block

.text-right
  text-align: right
