footer.footer
  background: $black
  position: relative
  color: white
  +media($medium)
    padding: 100px 0
  section
    +outer-container
    font:
      size: 28px
    line-height: 34px
  article
    +media($medium)
      +span-columns(6)
  h4
    color: $yellow
  dl
    dt
      font:
        size: 14px
        family: 'gbold', sans-serif
        weight: normal
      text-transform: uppercase
    dd
      margin: 0 0 30px 0
    a
      color: white
      text-decoration: none
  .week
    display: inline-block
    width: 100%
    border: 2px solid white
    max-width: 400px
    padding: 25px 50px
    box-sizing: border-box
    dl
      dt, dd
        display: inline-block
      dt
        font:
          size: 20px
          family: 'gbold', serif
        text-align: right
        min-width: 129px
      dd
        font:
          family: 'sbook', sans-serif
          size: 22px
        text-align: right
        margin: 0 0 0px 30px

  figure
    max-width: 400px
    height: auto
    border: 2px solid white
    margin-top: 30px
    img
      width: 100%
    &.footer-logo
      border: none
      max-width: 344px
      height: auto
      margin-top: 60px
  .circle-btn
    margin-right: 30px
