.resy
  position: relative
  height: auto
  width: 100%
  padding: rem(80) 0
  display: block
  p
    text-align: center
    position: relative
    z-index: 1
    padding: 0 2rem
  h2
    position: absolute
    top: 30px
    left: 50%
    transform: translateX(-50%)
    z-index: 0
    +media($smedium)
      left: 290px
      transform: none
  &-wrapper
    text-align: center
    .resy-button
      background: $yellow !important
