.thumbs
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  max-width: rem(960)
  margin: 0 auto
  .thumb
    flex-basis: 40%
    margin: rem(6)
    img
      max-width: 100%
    +media($medium)
      flex-basis: auto
