.thumbs
  .thumb
    text-align: center
    position: relative
    display: inline-block
    width: 136px
    height: 136px
    +media($medium)
      width: 290px
      height: 290px
    span
      display: block
      font:
        size: 30px
        family: 'sbold', serif
      color: white
      position: absolute
      line-height: 136px
      text-align: center
      width: 100%
      +media($medium)
        font:
          size: 68px
        line-height: 290px
    img
      width: 100%
      height: auto
      border: 2px solid white
      border-radius: 50%
