ul, dl
  margin: 0
  padding: 0
  list-style: none

h2
  color: white
  font:
    family: 'gbold'
    size: 144px
  text-transform: uppercase
  line-height: normal

h3
  text-transform: uppercase
  font:
    family: 'gbold', sans-serif
    size: 20px
  line-height: 26px


h4
  text-transform: uppercase
  font:
    family: 'sbook', serif
    size: 27px
  line-height: 32px
