ul, dl
  margin: 0
  padding: 0
  list-style: none
  &.inline
    li
      display: inline-block

h1
  font:
    size: rem(64)
    family: 'sbook', serif
  color: black

h2
  color: white
  font:
    family: 'gbold'
    size: rem(144)
  text-transform: uppercase
  line-height: normal

h3
  text-transform: uppercase
  font:
    family: 'gbold', sans-serif
    size: rem(20)
  line-height: rem(26)


h4
  text-transform: uppercase
  font:
    family: 'sbook', serif
    size: rem(27)
  line-height: rem(32)

h5
  font:
    size: rem(24)
    family: 'gbold', sans-serif
