.hero-covid
  background-color: #000

  .ticker
    text-align: center

  .wrapper
    padding-top: rem(72)
    padding-bottom: rem(48)
    h1
      margin: 0
      line-height: 1
      span
        display: block
        max-width: 500px
    h2
      max-width: rem(650)
      line-height: 1.25
    h3
      padding-top: rem(18)
      margin-bottom: 0
      max-width: 750px
    .button
      color: #000
      margin-top: rem(8)

.menus
  background: $nude
  padding: rem(30) 0
  box-sizing: border-box
  .wrapper
    padding: 0
    header
      max-width: rem(650)
      margin: 0 auto
      padding: 0 rem(16) rem(42)
      h2
        font-size: rem(18)
        +media($medium)
          font-size: rem(36)
      p
        font-size: rem(16)
        line-height: 1.5
    +media($medium)
      padding: rem(30)
