= partial 'refills/nav'

%section.main-content#order-online
  .wrapper
    %article
      %h1.f2.display Order Online
      -# %p Copy needed here: Maybe something here explaining the 2 options maybe? Or talking about pick up and delivery. Or some sort of stipulations or guidance.
      %p Choose your order type:
      .order-methods
        %ul
          %li.order-individual<>
            = link_to 'Carryout & Delivery', 'https://ordering.chownow.com/order/13240/locations/18553?add_cn_ordering_class=true', {class: "full-width button-white", target: "_blank"}
            %p Order from our menus for carryout or delivery.
          -# %li.order-catering<>
          -#   = link_to "Taverna Wine & Cheese Club", 'https://ordering.chownow.com/order/13240/locations/18919?add_cn_ordering_class=true', {class: "full-width button-white chownow-order-online", target: "_blank"}
          -#   %p Join the Taverna wine & cheese club, a monthly subscription curated by our talented team.
          -#   %p All orders will be delivered on the 1st of the month. Please note: Our system will force you to select a delivery date. This selection is required but will not impact the actual delivery date.

    %aside.alt
      %h3 Easy Delivery
      %p 5pm – 9pm Sunday-Thursday
      %p 5pm – 10pm Friday & Saturday
      %p We offer complimentary delivery to the 32207 zip code. A small delivery fee will be applied to other zip codes.
      %p All deliveries must be ordered online.

= partial 'refills/resy'
= partial 'refills/footer'
