= partial 'refills/nav'

%section.hero
  %article
    Hero

:javascript
  $(function() {
      if (OpeningHours) {
           $.getJSON('tests/multipleWeeks_version.json', function(data) {
              if (data) {
                $('.openingHours').openingHours({
                     //options goes here
                });
             }
          });
       }
  });
